[submodule "Library/KapEngine"]
	path = Library/KapEngine
	branch = main
	url = git@github.com:benji-35/KapEngine.git
[submodule "Packages/KapMirror"]
	path = Packages/KapMirror
	branch = main
	url = git@github.com:Chaika9/KapMirror.git
[submodule "Library/vcpkg"]
	path = Library/vcpkg
	branch = master
	url = git@github.com:microsoft/vcpkg.git
